<!DOCTYPE html>
<html>
  <head>
    <title>ECommercePlatform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Electro - HTML Ecommerce Template</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
  </head>

  <body>
    <!-- HEADER -->
    <%= render 'layouts/header' %>
    <%= yield %>
    
  
      <!-- FOOTER -->
      <%= render 'layouts/footer' %>
     
  
     
    
    <!-- <%= javascript_include_tag 'js/jquery.min.js', 'data-turbolinks-track' => true  %> -->
    <%= javascript_include_tag 'js/bootstrap.min.js', 'data-turbolinks-track' => true  %>
    <%= javascript_include_tag 'js/slick.min.js','data-turbolinks-track' => true  %>
    <%= javascript_include_tag 'js/nouislider.min.js', 'data-turbolinks-track' => true  %>
    <%= javascript_include_tag 'js/jquery.zoom.min.js','data-turbolinks-track' => true  %>
    <%= javascript_include_tag 'js/main.js', 'data-turbolinks-track' => true  %>
    <!-- <%= javascript_include_tag 'js/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/slick.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/nouislider.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery.zoom.min.js', 'data-turbolinks-track': 'reload' %>  
    <%= javascript_include_tag 'js/main.js', 'data-turbolinks-track': 'reload' %>   -->


    <!-- <script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script> -->
  </body>
</html>
